<p id="notice"><%= notice %></p>

<h1>Tant치rgyak list치ja</h1>

<table class="table table-bordered">
  <thead>
    <tr class="success">
      
      <th>Tant치rgy neve</th>
      <th>Tant치rgy kredite</th>



    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr class="info">
        <td><%= subject.name %></td>
        <td><%= subject.k_index %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


